<!DOCTYPE html>
<html>
<head>
  <title>Layouts &raquo; Hero-Thirds</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link rel="stylesheet" type="text/css" href='{{ static_url("css/bootstrap.min.css") }}' />
  <link rel="stylesheet" type="text/css" href='{{ static_url("css/jquery-ui.css") }}' />
  <link rel="stylesheet" type="text/css" href='{{ static_url("css/keen-dashboards.css") }}' />
  <script type="text/javascript" src='{{ static_url("js/plotly-latest.min.js") }}'></script>
  <script type="text/javascript" src='{{ static_url("js/jquery.min.js") }}'></script>
  <script type="text/javascript" src='{{ static_url("js/jquery-ui.js") }}'></script>
  <script type="text/javascript" src='{{ static_url("js/bootstrap.min.js") }}'></script>
  <script type="text/javascript" src='{{ static_url("js/keen.min.js") }}'></script>
  <script type="text/javascript" src='{{ static_url("js/dashsim.js") }}'></script>
  <script type="text/javascript" src='{{ static_url("js/ssv.js") }}'></script>
  <script type="text/javascript" src='{{ static_url("js/d3.min.js") }}'></script>
</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">DashSim</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">
    {% set j=0 %}
    {% for i in range(len(visualizations)) %}
      {% if j + visualizations[i]['col_width'] > 12 %}
        {% set j=0 %}
        </div>
        <div class="row">
      {% end if %}
      <div class="col-sm-{{ visualizations[i]['col_width'] }}">
        <div class="chart-wrapper">
          <!-- Optional chart title area
          <div class="chart-title">
            Cell Title
          </div> -->
          <div class="chart-stage">
            {% raw visualizations[i]['html'] %}
          </div>
          <!-- Optional chart note area
          <div class="chart-notes">
            Notes about this chart
          </div> -->
        </div>
      </div>
      {% set j=j+visualizations[i]['col_width']  %}
    {% end for %}
    </div>
  </div>

    <hr>

    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

  </div>
</body>
</html>
